body {
	background: lightyellow;
}

#div3 {
	height: 300px;
	width: 300px;
	overflow: scroll;
	border: 1px solid red;
}

p {
	position: sticky;
	background: lightblue;
	top: 10px;
	left: 10px;
}

.test {
	color: red;
}